@import url('./small.css');
@import url('./large.css');
@import url('./medium.css');

* {
    padding: 0;
    margin: 0;


}

html {
    scroll-behavior: smooth;
}

#container {
    width: 100vw;
    height: auto;
    background-image: url("../photos/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    /* display: grid;
    grid-template-rows: 6vh 84vh 10vh;
    grid-template-columns: 70vw 30vw;
    grid-template-areas:
        "hd hd"
        "mn mn"
        "ft ft"; */

}


#foot {

    width: 100%;
}

/*----------------certificates-----------*/

#container2 {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-image: url("../photos/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
}







/*--------------------------------------*/
.project-image {
    display: none;
    width: 100%;
    height: auto;

}

/*---------------------------------------*/

.cont {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.img-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}